    {% load static %}
    <script src="{% static 'js/theme/jquery.js' %}"></script>
    <!--<script src="{% static 'js/theme/jquery-migrate.js' %}"></script>-->
    <script src="{% static 'js/theme/bootstrap.js' %}"></script>
    <script src="{% static 'js/theme/csrf.js' %}"></script>
    <script src="{% static 'js/theme/jquery.ui.js' %}"></script>
    <script src="{% static 'js/theme/jRespond.js' %}"></script>
    <script src="{% static 'js/theme/nav.accordion.js' %}"></script>
    <script src="{% static 'js/theme/hover.intent.js' %}"></script>
    <script src="{% static 'js/theme/hammerjs.js' %}"></script>
    <script src="{% static 'js/theme/jquery.hammer.js' %}"></script>
    <script src="{% static 'js/theme/jquery.fitvids.js' %}"></script>
    <script src="{% static 'js/theme/scrollup.js' %}"></script>
    <script src="{% static 'js/theme/smoothscroll.js' %}"></script>
    <script src="{% static 'js/theme/jquery.slimscroll.js' %}"></script>
    <!--<script src="{% static 'js/theme/jquery.syntaxhighlighter.js' %}"></script>-->
    <script src="{% static 'js/theme/velocity.js' %}"></script>
    <!--<script src="{% static 'js/theme/jquery-jvectormap.js' %}"></script>
    <script src="{% static 'js/theme/jquery-jvectormap-world-mill.js' %}"></script>
    <script src="{% static 'js/theme/jquery-jvectormap-us-aea.js' %}"></script>-->
    <script src="{% static 'js/theme/smart-resize.js' %}"></script>
    <!--iCheck-->
    <script src="{% static 'js/theme/icheck.js' %}"></script>
    <script src="{% static 'js/theme/jquery.switch.button.js' %}"></script>
    <!--CHARTS-->
    <script src="{% static 'js/theme/jquery.sparkline.js' %}"></script>
    <script src="{% static 'js/theme/jquery.easypiechart.min.js' %}"></script>
    <script src="{% static 'js/theme/excanvas.min.js' %}"></script>
    <script src="{% static 'js/theme/jquery.flot.min.js' %}"></script>
    <script src="{% static 'js/theme/curvedLines.js' %}"></script>
    <script src="{% static 'js/theme/jquery.flot.time.min.js' %}"></script>
    <script src="{% static 'js/theme/jquery.flot.stack.min.js' %}"></script>
    <script src="{% static 'js/theme/jquery.flot.axislabels.js' %}"></script>
    <script src="{% static 'js/theme/jquery.flot.resize.min.js' %}"></script>
    <script src="{% static 'js/theme/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'js/theme/jquery.flot.spline.js' %}"></script>
    <script src="{% static 'js/theme/jquery.flot.pie.min.js' %}"></script>
    <!--Ui Elements-->
    <script src="{% static 'js/theme/bootbox.js' %}"></script>
    <script src="{% static 'js/theme/sweetalert.js' %}"></script>
    <!--Forms-->
    <script src="{% static 'js/theme/jquery.maskedinput.js' %}"></script>
    <script src="{% static 'js/formvalidation/formValidation.min.js' %}"></script>
    <script src="{% static 'js/formvalidation/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/theme/j-forms.js' %}"></script>
    <script src="{% static 'js/theme/jquery.loadmask.js' %}"></script>
    <script src="{% static 'js/theme/vmap.init.js' %}"></script>
    <script src="{% static 'js/theme/theme-switcher.js' %}"></script>
    <script src="{% static 'js/theme/apps.js' %}"></script>

    <!--Uploads-->
    <script src="{% static 'js/fileupload/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'js/fileupload/load-image.min.js' %}"></script>
    <script src="{% static 'js/fileupload/canvas-to-blob.min.js' %}"></script>
    <script src="{% static 'js/fileupload/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/fileupload/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'js/fileupload/jquery.fileupload.js' %}"></script>
    <script src="{% static 'js/fileupload/jquery.fileupload-process.js' %}"></script>
    <script src="{% static 'js/fileupload/jquery.fileupload-image.js' %}"></script>
    <script src="{% static 'js/fileupload/jquery.fileupload-audio.js' %}"></script>
    <script src="{% static 'js/fileupload/jquery.fileupload-video.js' %}"></script>
    <script src="{% static 'js/fileupload/jquery.fileupload-validate.js' %}"></script>
    <script src="{% static 'js/fileupload/jquery.cookie.js' %}"></script>
